<div
  data-controller="bids"
  data-bids-initial-value="3900"
  data-bids-increment-value="1"
  data-bids-confirm-value="false"
  data-bids-bid-panel-value="false"
>
  <div class="fixed bottom-0 left-0 right-0 z-10 p-4 bg-white h-20">
    <button
      data-action="bids#toggleBidPanel"
      class="flex items-center justify-center w-full rounded-lg text-center font-semibold text-white bg-indigo-600 hover:bg-indigo-700 h-full"
    >
      Place a Bid!
    </button>
  </div>

  <div
    class="bottom-0 ease-in-out fixed left-0 right-0 transform transition-transform translate-y-0 z-20"
    data-bids-target="bidPanel"
  >
    <%= form_with(model:  [ @auction, @auction.bids.build ]) do |form| %>
      <div
        class="p-4 bg-white"
        data-bids-target="setupPanel"
      >
        <%= form.label(
          :inc,
          'Select a bid increment',
          class: 'cursor-pointer mb-2'
        ) %>

        <%= form.select(
          :inc,
          options_for_select(Bid::INCREMENTS.map {|f| ["+ £#{('%0.2f' % f)}", f]}),
          {},
          {
            class: 'appearance-none border px-4 py-3 w-full text-lg',
            data: {
              action: "bids#setIncrement"
            }
          }
        ) %>

        <p class="my-2 text-xs text-indigo-900 text-center">
          Click to confirm this bid in the next step
        </p>

        <%= form.button(
          type: 'button',
          class: 'bg-indigo-600 hover:bg-indigo-700 py-4 rounded shadow-md text-center text-white flex flex-col items-center justify-center w-full',
          data: { action: 'bids#toggleConfirmPanel' }
        ) do %>
          <span class="text-sm">
            Placing a bid for:
          </span>

          <span
            class="text-2xl font-semibold"
            data-bids-target="selectedBid"
          >
            <%= @auction.current_bid.value %>
          </span>
        <% end %>
      </div>

      <div
        class="bg-indigo-600 p-4 xrounded flex flex-col justify-center items-center"
        data-bids-target="confirmPanel"
      >
        <span class="text-sm text-white">
          You are about to place a bid for:
        </span>

        <span
          class="text-2xl font-bold mb-4 text-white"
          data-bids-target="myBid"
        >
          <%= @auction.current_bid.value %>
        </span>

        <%= form.hidden_field(
          :value,
          value: 0,
          data: { 'bids-target': 'formInput' }
        ) %>

        <div class="flex flex-col md:flex-row items-center justify-between w-full">
          <%= form.button(
            "Confirm Bid",
            class: 'w-full bg-green-400 hover:bg-green-500 rounded xshadow-md py-4 flex-1 md:mr-2 mb-4 md:mb-0 text-indigo-900'
          ) %>

          <%= form.button(
            "Cancel",
            type: 'button',
            class: 'w-full border border-white hover:border-gray-200 hover:bg-indigo-700 rounded text-white xshadow-md py-4 flex-1 md:ml-2',
            data: { action: 'bids#toggleConfirmPanel'}
          ) %>
        </div>
      </div>
    <% end %>
  </div>

  <div
    class="bg-black z-10 fixed inset-0 hidden opacity-75"
    data-bids-target="backdrop"
    data-action="click->bids#toggleBidPanel"
  />
</div>
