<% content_for :html_title do %>
  <%= @auction.name %>
<% end %>

<div class="bg-white">
  <div class="md:grid grid-cols-2 gap-4">
    <%= render "gallery" %>

    <div class="flex items-center justify-between -mt-10 px-6 h-20 bg-white mx-4 relative shadow-lg z-10 rounded-xl">
      <%= render "bids/current_bid" %>
      <%= render "countdown" %>
    </div>

    <div class="p-5" data-controller="description">
      <h1 class="text-2xl mb-3 font-semibold text-indigo-900">
        <%= @auction.name %>
      </h1>

      <div
        class="leading-loose text-gray-600"
        data-description-target="text"
      >
        <%= @auction.description %>
      </div>

      <button
        data-description-target="show"
        data-action="description#showText"
        class="text-yellow-700 hidden"
      >
        More info
      </button>

      <button
        data-description-target="hide"
        data-action="description#hideText"
        class="text-yellow-700 hidden"
      >
        Show less
      </button>
    </div>

    <%= render "bids/bids" %>

    <%= render 'bids/form' %>
  </div>