<% content_for :page_title do %>
  Editing Auction
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to "Admin", admin_auctions_path %>
  <span class="text-gray-400 mx-1">/</span>
  <%= link_to "Auctions", admin_auctions_path %>
  <span class="text-gray-400 mx-1">/</span>
  <%= link_to "Details", admin_auction_path %>
  <%# <span class="text-gray-400 mx-1">/</span> %>
  <%# <span class="text-gray-600">Edit Auction</span> %>
<% end %>

<%= render "form" %>

<div class="max-w-3xl mx-auto overflow-auto">
  <table class="w-full border border-gray-200">
    <thead>
      <tr class="bg-gray-900 text-white text-sm uppercase">
        <th class="font-medium p-2 text-left">User</th>
        <th class="font-medium p-2 text-right">Value</th>
        <th class="font-medium p-2 text-center">Created</th>
      </tr>
    </thead>
    <tbody>
      <% @auction.bids.each do |bid| %>
        <tr class="border border-gray-200">
          <td class="bg-white p-2">
            User Name
          </td>
          <td class="bg-white p-2 text-right">
            <%= bid.value %>
          </td>
          <td class="bg-white p-2 text-center">
            <%= bid.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>